#content {
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.placeholder {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: lightgray;
  font-size: 2rem;
}
