.product {
  display: flex;
  align-items: center;
  padding: 0.5em 0;

  height: 9vh;
  min-height: 3.5em;

  box-sizing: border-box;
}

.product > * + * {
  margin-left: 2em;
}

.product-availability {
  margin-left: 2em;
  color: red;
}

.product-info {
  font-size: 0.7rem;
}

.product-info > * {
  margin: 0.2em 0;
}

.product-info h2 {
  color: gray;
}
