nav > h2 {
  color: rgb(92, 92, 92);
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  color: rgb(77, 77, 77);
}

.nav-item:hover {
  background-color: black;
  color: white;
}

.nav-item.active {
  font-weight: bold;
  background-color: black;
  color: white;
}

.nav-item > a {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 1em;
  text-decoration: none;
  color: inherit;
}
