@media all and (max-width: 950px) {
  #sidebar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: opacity 100ms;
  }

  #sidebar.hidden {
    min-height: 0;
    height: 0;
    opacity: 0;
  }

  #title {
    margin-top: 1.25em !important;
  }
}

#sidebar {
  min-width: 19em;
  height: 100%;
  overflow-y: auto;
  padding: 0 1.25em;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
  z-index: 3;
}

#sidebar > * + * {
  margin-top: 2em;
}

#sidebar h2 {
  color: rgb(80, 80, 80);
}

#category > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title > h1 {
  margin: 0;
  font-size: 1.75rem;
  color: white;
  background-color: black;
  padding: 0.1em 0.75em;
  -moz-user-select: none;
  -webkit-user-select: none;
}
