@media all and (max-width: 950px) {
  #sidebar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: height 200ms;
  }

  #sidebar.hidden {
    text-align: center;
    min-height: 0;
    height: 0;
  }
}

#sidebar {
  min-width: max-content;
  height: 100%;
  overflow-y: auto;
  padding: 0 1.25em;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
  z-index: 3;
}

#sidebar > * + * {
  margin-top: 2em;
}

#sidebar > h1 {
  margin: 0.5em 0.33em;
}

#sidebar h2 {
  color: rgb(80, 80, 80);
}

#category > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
