body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  height: 100vh;
}

#sidebar {
  padding: 0 1em;
  width: 18em;

  background-color: rgb(32, 32, 32);
  color: white;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

#content {
  width: 100%;

  box-sizing: border-box;
  overflow-y: auto;
}
