body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  height: 100vh;
}

#title {
  font-size: 2rem;
  margin: 1em 0.5em;
  color: white;
  background-color: black;
  padding: 0.1em 0.75em;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#sidebar {
  width: 18em;
  padding: 0 1.25em;
  box-sizing: border-box;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
  z-index: 3;
}

#sidebar > * + * {
  margin-top: 2em;
}

#sidebar > h1 {
  margin: 0.5em 0.33em;
}

#sidebar h2 {
  color: rgb(80, 80, 80);
}

#content {
  width: 100%;

  box-sizing: border-box;
  overflow-y: auto;
}
