.mobile-button {
  position: fixed;
  margin: 1.25em;

  line-height: 0;
  height: 2.5em;
  width: 2.5em;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  color: black !important;
  border-radius: 100%;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
  transition: box-shadow 200ms;
}

.mobile-button:hover {
  background-color: black;
  color: white !important;
  box-shadow: none;
}

@media all and (max-width: 950px) {
  .mobile-button {
    z-index: 1000;
  }
}
